<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<documentation>
    Use this plugin to build for the android platform. Current limitations are mainly that only armv7 architecture is properly working, meaning currently there isn't the possibility to build for x86 or mips.
	</documentation>
	<configuration>
		<elem name="icon">
			Use this to configure where the icon files are. By default they are searched in current_project_path/Icons/android. The naming and sizing is strict. To know them, just do a "duell create emptyProject" and see the icons that are on the default project. E.g.: &lt;icon path="Iconys/android" /&gt;.
		</elem>

        <elem name="app-icon">
            Use this to specify the icon name, as if you were inputting it as @drawable/icon. By default it is specified as "icon". E.g.: &lt;app-icon drawable="app_icon" /&gt;.
        </elem>

		<elem name="hxcpp-compilation-arg">
			Use this tag if you want to pass an additional compilation argument to the hxcpp compilation of the generated c++ code. E.g.: &lt;hxcpp-compilation-arg value="-DSOMETHING" /&gt;.
		</elem>

		<elem name="install-location">
			Use this to specify the install location. By default it is auto. E.g.: &lt;install-location value="preferExternal" /&gt;.
		</elem>

		<elem name="target-sdk">
			Use this to specify a target android sdk. By default it is 21. Please don't change :( E.g.: &lt;target-sdk value="20" /&gt;.
		</elem>

		<elem name="minimum-sdk">
			Use this to specify a minimum android sdk. By default it is 14. E.g.: &lt;minimum-sdk value="16" /&gt;.
		</elem>

		<elem name="fullscreen">
			Use this to use the new android immersive mode which hides the android back/home/etc buttons. By default it is false. E.g.: &lt;fullscreen value="true" /&gt;.
		</elem>

		<elem name="uses">
			Use this to specify that your app uses additional android features. E.g.: &lt;uses name=&quot;glEsVersion&quot; value=&quot;0x00020000&quot; required=&quot;true&quot; /&gt;.
		</elem>

		<elem name="permission">
			Use this to specify permissions for your app (using uses-permission). E.g.: &lt;permission name=&quot;android.permission.RECEIVE_SMS&quot; /&gt;.
		</elem>

        <elem name="raw-permission">
            Use this to specify permissions for your app (using permission). E.g.: &lt;raw-permission name=&quot;com.gameduell.test.permission.C2D_MESSAGE&quot; level=&quot;signature&quot; /&gt;.
        </elem>

		<elem name="activity-extension">
			Use this to specify a class as being an activity extension that will then receive Activity callbacks. This is used together with inserting java classes into the final app. E.g.: &lt;activity-extension name=&quot;com.superlib.SuperLibDelegate&quot; /&gt;.
		</elem>

		<elem name="java-lib">
			Use this to specify a java library reference. Usually this is not needed unless a specific external library requests that it be included as a library and not as a jar or sources. E.g.: &lt;java-lib name=&quot;superlib&quot; path=&quot;path/to/lib&quot; /&gt;.
		</elem>

		<elem name="java-source">
			Use this to add a folder that contains java sources to be compiled. This should be the top level folder in case the sources are organized in packages. E.g.: &lt;java-source path=&quot;path/to/lib&quot; /&gt;.
		</elem>

		<elem name="jar">
			Use this to add a jar. E.g.: &lt;jar path=&quot;path/to/jar&quot; /&gt;.
		</elem>

		<elem name="supports-screen">
			Use this to specify that your app supports a specific screen type. E.g.: &lt;supports-screen name=&quot;smallScreens&quot; value=&quot;true&quot; /&gt;.
		</elem>

		<elem name="activity-parameter">
			Use this to specify an android manifest activity parameter. E.g.: &lt;activity-parameter name=&quot;theme&quot; value=&quot;@android:style/Theme.NoTitleBar.Fullscreen&quot; /&gt;.
		</elem>

		<elem name="application-parameter">
			Use this to specify an android manifest application parameter. E.g.: &lt;application-parameter name=&quot;largeHeap&quot; value=&quot;true&quot; /&gt;.
		</elem>

		<elem name="string-resource">
			Use this to add a string resource. E.g.: &lt;string-resource name=&quot;facebook_app_id&quot; value=&quot;1234567&quot; /&gt;.
		</elem>

		<elem name="project-properties">
			Specify a line that is inserted into the project.properties file in the Android project. E.g.: &lt;project-properties value=&quot;dex.force.jumbo=true&quot; /&gt;.
		</elem>

		<elem name="manifest-main-activity-section">
			This is an advanced android configuration possibility. The xml that is contained inside this element will be directly copied into the manifest in main activity section. Use this if none of the previous configuration elements allow the setting you need.
		</elem>

		<elem name="manifest-main-activity-intent-filter-section">
			This is an advanced android configuration possibility. The xml that is contained inside this element will be directly copied into the manifest in intent filter section. Use this if none of the previous configuration elements allow the setting you need.
		</elem>

		<elem name="manifest-application-section">
			This is an advanced android configuration possibility. The xml that is contained inside this element will be directly copied into the manifest in application section. Use this if none of the previous configuration elements allow the setting you need.
		</elem>

		<elem name="key-store">
			Use this to specify the keystore you want to use to sign your app. This configuration should mostly be in the duell_user.xml folder since it is private information and should not be committed with your project. E.g.: &lt;key-store path=&quot;androidkey/debug.keystore&quot; alias=&quot;MyDebugKey&quot; password=&quot;password&quot; aliaspassword=&quot;password&quot; /&gt;
		</elem>

	</configuration>

	<arg name="-debug" type="void">
		<documentation>
			Use this argument if you want to build in debug.
		</documentation>
	</arg>

	<arg name="-fulllogcat" type="void">
		<documentation>
			Use this argument if you want to see the complete logcat as opposed to seeing a filtered one. The default filters are "duell", "Main", "DuellActivity", "GLThread" and "trace"
		</documentation>
	</arg>

	<arg name="-ndkgdb" type="void">
		<documentation>
			Use this argument if you want to launch gdb on the running app. Debug is option is automatically set for this.
		</documentation>
	</arg>

    <arg name="-x86" type="void">
        <documentation>
            Use this argument if you want to build specifically for x86 platforms.
        </documentation>
    </arg>

	<arg name="-armv6" type="void">
		<documentation>
			Use this if you want to build for armv6.
		</documentation>
	</arg>

	<arg name="-armv7" type="void">
		<documentation>
			Use this if you want to build for armv7.
		</documentation>
	</arg>

    <arg name="-emulator" type="void">
        <documentation>
	        Use the emulator to run the app. If x86 is specified, the x86 will launch, otherwise the armv7 will run. If the emulator is already running this will fail. If that is the case, then run without this option, as the emulator counts as a normal device. The default emulators that this uses are called "duellarmv7a" and "duellx86".
        </documentation>
    </arg>

    <arg name="-emulatorname" type="string">
        <documentation>
	        Specify the name of the emulator that you want to run when the build starts.
        </documentation>
    </arg>

    <arg name="-stripsym" type="void">
        <documentation>
	        This option will strip all debugging symbols from the binaries. Example usage is when releasing to the public or to a wide audience. The unstripped libraries are still present in a libs folder on the Export for symbolication.
        </documentation>
    </arg>

	<arg name="-wipeemulator" type="void">
		<documentation>
			Use this if you want to wipe the user data with the start of the emulator.
		</documentation>
	</arg>

</plugin>
